* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
    --s: 146px; /* control the size*/
    --c1: #f4bbf9;
    --c2: #f5d1f0;
    
    --c:var(--c1) calc(100% - 2px),#0000;
    --r:calc(2.414*var(--s));
    --p:calc(1.414*var(--s));
    --g:radial-gradient(var(--s),var(--c));
    background:
      radial-gradient(var(--r) at 0    0   ,var(--c)),
      radial-gradient(var(--r) at 0    100%,var(--c)),
      radial-gradient(var(--r) at 100% 0   ,var(--c)),
      radial-gradient(var(--r) at 100% 100%,var(--c)),
      var(--g),var(--g),var(--g),var(--g) var(--c2);
    background-position: 
      var(--r) var(--r),0 var(--p),var(--p) 0,
      calc(-1*var(--s)) calc(-1*var(--s));
    background-size: calc(2*var(--r)) calc(2*var(--r));
  }


.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 10%;
  width: 270px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: #f5d1f0;
  cursor: pointer;
}

.delete {
  color: red;
}
.add-note {
  color: blue;
}

.popup {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 600px;
  max-width: 500px;
  padding: 1rem;
  border: 2px solid rgb(255, 233, 166);
  border-radius: 10px;
  background-color: rgb(253, 243, 195);
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  z-index: 2;
}

.title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#noteType {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border: none;
}

#text-note {
  font-size: 1rem;
}

.add {
  font-size: large;
}

.fa-xmark {
  position: absolute;
  top: 1%;
  right: 1%;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.error {
  display: none;
  font-weight: bold;
  color: red;
}

.notes {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  width: 100vw;
  top: 15%;
  left: 5%;
}

.container {
    position: relative;
  width: 200px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 2px solid rgb(226, 106, 245);
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.type {
    margin: 2rem 1rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #ab01ba;
    border-left: none;
    border-top: none;
    border-right: none;
    color: #ab01ba;
}

.text {
    margin: 1rem;
    font-size: 1.1rem;
  color: black;
}

.cross {
  position: absolute;
  color: red;
  right: 1px;
  top: 1px;
  cursor: pointer;
}
