* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 10%;
  width: 270px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: lightsteelblue;
}

button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.delete {
  color: red;
}
.add-note {
  color: blue;
}

.popup {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 600px;
  max-width: 500px;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgreen;
  z-index: 2;
}

.title {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#noteType {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  border: none;
}

#text-note {
  font-size: 1rem;
}

.add {
  font-size: large;
}

.fa-xmark {
  position: absolute;
  top: 1%;
  right: 1%;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: red;
  cursor: pointer;
}

.error {
  display: none;
  color: red;
}

.notes {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  top: 15%;
  left: 5%;
}

.container {
    position: relative;
  width: 200px;
  height: 200px;
  margin-right: 1rem;
  border: 2px solid goldenrod;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
}

.type {
    margin: 1rem;
    font-weight: bold;
}

.text {
    margin: 1rem;
  color: black;
}

.cross {
  position: absolute;
  color: red;
  right: 1px;
  top: 1px;
  cursor: pointer;
}
